{% extends './header.twig' %}

   

    {% block body %}
    

<div>
    

     <div class="content_inscription">
        <div class="form_content">
        <h4 id="title_form" >Formulaire d'inscription</h4>
        <br/>


        {% if data %}
        <div id="interface_submit_client_inscription">
                    {% for value in data['data'].error %}

                           {% if value.success %}
                               {# if success form msg #}
                               <div class="alert alert-success" role="alert">
                                 <li class='success_form' >{{ value.success|capitalize }} : {{ value.msg|capitalize }} </li>
                                </div>
                               
                           {% else %}
                                {# if error form msg #}
                                  <div class="alert alert-danger" role="alert">
                                     <li class='error_input' >{{ value.input|capitalize }} : {{ value.error|capitalize }} </li>
                                   </div>

                           {% endif %}
                         

                    {% endfor %}
            </div>
            <br/>
                    
        {% endif %}

            <form id='form_client' method='post' action='/inscription'>
                <div id='display_inputs'>
                    <input type="hidden" id="csrf_input" name="{{ data['data'].csrf }}" value="{{ data['data'].getCsrf }}"/>
                    <div class="form-group" id='email_champ'>
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="email_input" name="email" placeholder="Enter email">
                        <small id="error_email" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group" id='password_champ'>
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                        <small id="error_password" class="form-text text-muted"></small>
                    </div>

                    <div class="form-group" id='samepassword_champ'>
                        <label for="exampleInputPassword1">Same Password</label>
                        <input type="password" name="samepassword" class="form-control" id="samepassword" placeholder="Same Password">
                        <small id="error_samepassword" class="form-text text-muted"></small>
                    </div>
                </div>

                <button type="submit" id="btn_form_submit" class="btn btn-outline-info">Inscription</button>
            </form>
        </div>

        <div class="choice_menu">
            <a href="#" id="form_inscription_home">Inscription</a> / <a href="#" id="form_connexion_home">Connexion</a>
        </div>

     </div>


     {# dynamic form #}
     <script src="../../../public/js/home_form.js"></script>
     {# get csrf input value / name to localstorage #}
     <script src="/public/js/csrf.js"></script>

</div>

    {% endblock %}


